@import "_null.scss";
body {
   font-family: 'Roboto', sans-serif; 
}
._ibg {
   position: relative;
   img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

._container {
   margin: 0 auto;
   width: 100%;
   padding: 0px 15px;
   max-width: 1140px;
}
/* @media (max-width: 1140px) { 
   ._container {
      max-width: 970px;
   }
}
@media (max-width: 992px) {
   ._container {
      max-width: 750px;
   }
}
@media (max-width: 767px) {
   ._container {
      max-width: none;
   }
} */

.header {
   position: absolute;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 50;
   border-bottom: 1px solid #DDDDDD;
   padding: 10px 0px;
   

   // .header__container

   &__container {
      display: flex;
      align-items: center;
      min-height: 79px;
      flex-wrap: wrap;
      justify-content: space-between;
      
   }

   // .header__logo

   &__logo {
      margin-right: auto;
   @media (max-width:1145) {
      margin-right: 180px;
   }
   @media (max-width: 690px) {
      order: 1;
   }
   }

   // .header__menu

   &__menu {
      display: flex;
      margin-right: 60px;
      @media (max-width: 992px) {
         order: 3;
         flex: 0 0 100%;
      }
   }
   

   // .header__list

   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px 60px;
      @media (max-width: 992px) {
         gap: 0;
         flex: 1 1 100%;
         justify-content: space-between;
      }
   }

   // .header__item

   &__item {
      display: flex;
      gap: 0px 30px;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
   }
   // .header__search-and-login

   &__search-and-login {
      display: flex;
      gap: 0px 30px;
      @media (max-width: 992px) {
         order: 2;
      }
   }

    // .header__link

      &__link {
      color: #4C5866;
      }
   }

.logo {
   display: flex;
   align-items: center;
   column-gap: 5px;

   // .logo__part-one

   &__part-one {
      width: 17px;
      height: 17px;
      border: 1px solid #333;
      border-radius: 100%;
   }

   // .logo__part-two

   &__part-two {
      font-family: 'Ubuntu', sans-serif;
      color: #333;
      font-size: 20px;
      font-weight: 300;
      line-height: normal;
   }

   // .logo__part-three

   &__part-three {
      width: 32px;
      height: 17px;
      border: 1px solid #333;
      border-radius: 11px;
   }

   // .logo__part-four

   &__part-four {
      width: 17px;
      height: 17px;
      border: 1px solid #333;
      border-radius: 100%;
   }
}
.page {

   // .page__main

   &__main {
   }
}

//MAIN ========================================
.main {

   // .main__container

   &__container {
      min-height: 700px;
      padding-top: 140px;
   }

   // .main__body

   &__body {
      display: flex;
   }

   // .main__first-block

   &__first-block {
      padding: 70px 0px 0px 0px;
      flex: 1 0 445px;
      &:not(:last-child) {
         margin-right: 125px;
      }
      @media (max-width: 1024px) {
         &:not(:last-child) {
            margin-right: 30px;
         }
      }
      @media (max-width: 680px) {
         flex: 1 0 60%;
         &:not(:last-child) {
            margin-right: 0px;
         }
      }
   }


   // .main__title

   &__title {
      color: #4C5866;
      font-size: 60px;
      font-weight: 400;
      line-height: 100%;
      &:not(:last-child) {
         margin: 0px 0px 30px 0px;
      }
      @media (max-width: 700px) {
         font-size: 50px;
      }
   }

   // .main__text

   &__text {
      color: #85859B;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      &:not(:last-child) {
         margin: 0px 0px 30px 0px;
      }
   }

   // .main__button

   &__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 70px;
      padding: 5px 90px;
      border: 1px solid #7875FE;
      color: #7875FE;
      color: #7875FE;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
   }

   // .main__second-block

   &__second-block {
      padding: 0px 0px 50.459% 0px;
      flex: 1 1 540px;
      overflow: hidden;
      @media (max-width: 1107px) {
         padding: 0px 0px 110% 0px;
      }
      @media (max-width: 680px) {
         flex: 1 1 40%;
      }
      img {
         object-position: top;
      }
   }
}
//WHITENESS========================================
.page {

   // .page__whiteness

   &__whiteness {
      min-height: 973px;
      background-color: #EBEBEB;
   }
}

.whiteness {

   // .whiteness__container

   &__container {
      padding-top: 90px;
      padding-bottom: 90px;
   }

   // .whiteness__items

   &__items {
      display: flex;
      gap: 20px 30px;
      &:not(:last-child) {
         margin-bottom: 90px;
      }
      flex-wrap: wrap;
   }

   // .whiteness__item

   &__item {
      display: flex;
      border-top: 1px solid #C0C0C0;
      padding-top: 19px;
      flex: 0 1 calc(100% / 3 - (((3 - 1) / 3) * 30px));
      gap: 0px 30px;
      flex-wrap: wrap;
      @media (max-width:545px) {
         flex: 0 1 100%;
      }
   }

   // .whiteness__image

   &__image {
      height: 118px;
      flex: 0 1 160px;
      @media (max-width: 565px) {
         height: 111px;
         flex: 0 1 150px;
      }
      @media (max-width: 378px) {
         height: 96px;
         flex: 0 1 130px;
      }
   }

   // .whiteness__content

   &__content {
      padding-top: 18px;
      font-size: 18px;
      flex: 1 1 45.7142857%;
   }

   // .whiteness__title

   &__title {
      color: #666;
      font-weight: 500;
      line-height: 150%;
   }

   // .whiteness__text

   &__text {
      color: #85859B;
      font-weight: 400;
      line-height: 150%; /* 27px */
      color: #85859B;
      font-size: 18px;
      @media (max-width: 520px) {
         font-size: 16px;
      }
   }

   // .whiteness__body

   &__body {
      display: flex;
      gap: 0px 30px;
   }

   // .whiteness__img

   &__img {
      padding: 0px 0px 50.819788% 0px;
      flex: 64%;
      img {
         object-fit: scale-down;
         object-position: top;
         @media (max-width:1000px) {
            padding: 59px 0px 50.819788% 0px;
         }
      }
   }

   // .whiteness__filling

   &__filling {
      padding-top: 59px;
      flex: 30%;
      @media (max-width: 816px) {
         flex: 60%;
      }
   }

   // .whiteness__subtitle

   &__subtitle {
      color: #666;
      font-size: 40px;
      font-weight: 400;
      line-height: 100%; /* 40px */
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .whiteness__additional-text

   &__additional-text {
      color: #85859B;
      font-size: 18px;
      font-weight: 400;
      line-height: 170%; /* 30.6px */
      p {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
}


//GOODS========================================
.page {

   // .page__goods

   &__goods {
      min-height: 645px;
   }
}
.goods {

   // .goods__container

   &__container {
      padding-top: 90px;
      padding-bottom: 90px;
   }

   // .goods__body

   &__body {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
   }

   // .goods__item

   &__item {
      flex: 0 1 calc(100% / 4 - (((4 - 1) / 4) * 30px));
      display: flex;
      flex-direction: column;
      @media (max-width:1030px) {
         flex: 0 1 calc(100% / 2 - (((2 - 1) / 2) * 30px));
      }
   }

   // .goods__image

   &__image {
      background-color: #EBEBEB;
      padding: 0px 0px 70.588% 0px;
      &:not(:last-child) {
         margin-bottom: 20px;
      }
      img {
         object-fit: contain;
         object-position: bottom;
      }
   }

   // .goods__title

   &__title {
      color: #666;
      font-size: 30px;
      font-weight: 400;
      line-height: normal;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   // .goods__subtitle

   &__subtitle {
      color: #B5B5BD;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   // .goods__text

   &__text {
      color: #85859B;
      font-size: 18px;
      font-weight: 400;
      line-height: 170%;
      &:not(:last-child) {
         margin-bottom: 20px;
      }
      flex: 0 1 100%;
   }

   // .goods__link

   &__link {
      color: #7875FE;
      font-size: 20px;
      font-weight: 400;
      &::after {
         content: "";
         background: url("../img/page/goods/Arrow\ 1.svg") no-repeat;
         width: 20px;
         height: 14px;
         display: inline-block;
         margin-left: 5px;
         background-size: contain;
         
      }
   }
}



.page {

   // .page__sponsors

   &__sponsors {
      min-height: 315px;
      display: flex;
      align-items: center;
      background-color: #EBEBEB;
   }
}
.sponsors {

   // .sponsors__container

   &__container {
      padding-bottom: 60px;
      padding-top: 60px;
   }

   // .sponsors__body

   &__body {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
   }

   // .sponsors__item

   &__item {
      flex: 0 1 calc(100% / 4 - (((4 - 1) / 4) * 30px));
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 135px;
      border: 1px solid #C4C4C4;
      @media (max-width:854px) {
         flex: 0 1 calc(100% / 2 - (((2 - 1) / 2) * 30px));
         min-height: 127px;
      }
   }

   // .sponsors__logo

   &__logo {
      padding: 0px 13px;

      img {
         max-width: 100%;
         height: auto;
         object-fit: cover;
      }
   }
}



.page {

   // .page__sketch

   &__sketch {
      min-height: 500px;
   }
}
.sketch {

   // .sketch__container

   &__container {
      padding-top: 90px;
   }

   // .sketch__body

   &__body {
      display: flex;
      gap: 30px;
   }

   // .sketch__content

   &__content {
      font-weight: 400;
      flex: 0 0 350px;
      margin-top: 24px;
   }

   // .sketch__title

   &__title {
      color: #666;
      font-size: 40px;
      line-height: 100%;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }


   // .sketch__text

   &__text {
      color: #85859B;
      font-family: Roboto;
      font-size: 18px;
      line-height: 170%;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   // .sketch__button

   &__button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 70px;
      padding: 5px 90px;
      border: 1px solid #7875FE;
      color: #7875FE;
      color: #7875FE;
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
   }

   // .sketch__img

   &__img {
      padding: 0px 0px 40% 0px;
      flex: 0 1 730px;
      img {
         object-fit: cover;
      }
   }
}



.footer {

   // .footer__first-part

   &__first-part {
      background-color: #4C5866;
   }

   // .footer__container

   &__container {
   }
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0px;
      min-height: 80px;
   }
   .footer {

		// .footer__logo

		&__logo {
		}
}
.logo {

		// .logo_white

		&_white {
		}

		// .logo__part-one

		&__part-one {

			// .logo__part-one_white

			&_white {
            border-color: white;
			}
		}

		// .logo__part-two

		&__part-two {

			// .logo__part-two_white

			&_white {
            color: white;
			}
		}

		// .logo__part-three

		&__part-three {

			// .logo__part-three_white

			&_white {
            border-color: white;
			}
		}

		// .logo__part-four

		&__part-four {

			// .logo__part-four_white

			&_white {
            border-color: white;
			}
		}
}


   // .footer__social

   &__social {
      display: flex;
      gap: 30px
      ;
   }

   // .footer__link

   &__link {
   }

   // .footer__second-part

   &__second-part {
   }

   &__end {
      color: #4C5866;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 3px 0px;
   }
}


